.btn{
    padding: 1rem 2rem;
    border-radius: 3px;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    &-primary{
        color: $primaryPurple;
        background-color: $white;
        border:solid 1px $primaryPurple;
    }
    &-secondary{
        color: $white;
        background-color: $primaryPurple;
        border:solid 1px $white;
    }
}