.btn{
    padding: 1rem;
    border:solid 1px $white;
    &-primary{
        color: $white;
    }
    &-secondary{
        a{
            color: $primaryPurple;
            background: white;

        }

    }
}
